# Banco
DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=testdb
DB_USERNAME=user
DB_PASSWORD=secret

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Reverb
BROADCAST_CONNECTION=reverb
REVERB_APP_ID=1001
REVERB_APP_KEY=my-app-key
REVERB_APP_SECRET=my-app-secret
REVERB_PORT=8080
REVERB_SCHEME=http
REVERB_HOST=reverb


#laravel
APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:j2tCIP6yGeVIk8l52Ld7TE8NgKh+wC82xcSDaF+Kj2U=
APP_DEBUG=true


CACHE_DRIVER=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=redis